version: 2.1

orbs:
  node: circleci/node@5.1.0

jobs:
  build:
    executor: node/default
    steps:
      - checkout
      - run:
          name: "Install deps"
          command: "npm ci"
      - run:
          name: "Build"
          command: "npm run build"

workflows:
  build-workflow:
    jobs:
      - build